<html>
	<head>
		<title>About Page</title>
		<link rel="icon" href="/images/about.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
		
			<img src="/images/image.png" title="Picture">
		
		</div>
		
	

		{{>footer}}
	</body>


</html>